---
import { Image } from "astro:assets";
import Wave1 from "../assets/images/wave1.webp";
import Wave2 from "../assets/images/wave2.webp";
import Wave3 from "../assets/images/wave3.webp";

import BlueBottle from "../assets/images/blue_plastic_bottle.webp";
import Seagull from "../assets/images/seagull.webp";
import GreenPlasticBag from "../assets/images/green_plastic_bag.webp";
import RedPlasticBag from "../assets/images/red_plastic_bag.webp";
import SilverCan from "../assets/images/silver_can.webp";
import OrangeCup from "../assets/images/orange_cup.webp";
---

<style>
  /* Keyframes for the seagull flying animation */
  @keyframes fly_kf {
    50% {
      translate: -400% 20%;
    }
    60% {
      translate: -520% 50%;
    }
    75% {
      translate: -530% 30%;
    }
    80% {
      translate: -550% 30%;
    }
    100% {
      translate: -1000% 0;
    }
  }

  /* Keyframes for floating animation */
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-15px); /* Move up by 15px */
    }
    100% {
      transform: translateY(0);
    }
  }

  /* Seagull flying animation class */
  .animate-fly {
    animation: fly_kf 6s ease-in-out infinite;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: both;
    position: absolute;
    left: 100%;
    top: 20px; /* Adjust this for preferred vertical position */
  }

  /* Floating animation class */
  .animate-float {
    animation: float 4s ease-in-out infinite;
  }
</style>

<section class="relative overflow-hidden bg-[#F8F8F8] text-center py-16">
  <!-- Title -->
  <div class="relative">
    <Image
      src={Seagull}
      alt="Seagull"
      class="-mt-20 w-28 h-28 lg:w-48 lg:h-48 animate-fly z-20"
    />
  </div>
  <div class="z-10 relative">
    <!-- Increased size -->
    <h1 class="mt-20 mobile-display-font lg:desk-display-font text-[#FF2A00]">
      Single use
    </h1>
    <h1 class="mobile-display-font lg:desk-display-font text-[#FF2A00]">
      sucks
    </h1>
    <p></p>
  </div>

  <!-- Layered Wave and Plastic Images with Absolute Positioning -->
  <div class="relative h-[30vh] md:h-[50vh] lg:h-[60vh] top-0">
    <!-- Set a fixed height to accommodate absolute positioning -->

    <!-- Bottom Wave Layer with Floating Plastic Images (Visual Top Layer) -->
    <div class="absolute inset-x-0 bottom-0 z-10 -mt-20">
      <!-- Lowest z-index to appear visually at the top -->
      <!-- Wave Image -->
      <Image
        src={Wave3}
        alt="Ocean Wave"
        class="w-full object-cover animate-float"
        style="animation-delay: 0.6s;"
      />
      <!-- Plastic Images (Under the Wave) -->

      <div class="absolute inset-0 gap-10 -top-7 z-[-1]">
        <Image
          src={BlueBottle}
          alt="Blue Plastic Bottle"
          class="w-40 h-40 lg:w-48 lg:h-48 -mt-10 animate-float"
          style="animation-delay: 0s;"
        />
      </div>
      <div class="absolute inset-0 gap-10 -top-14 lg:-top-20 left-1/4 z-[-1]">
        <Image
          src={GreenPlasticBag}
          alt="Green Plastic Bag"
          class="w-40 h-40 lg:w-48 lg:h-48 animate-float"
          style="animation-delay: 0.6s;"
        />
      </div>
      <div class="absolute inset-0 gap-10 -top-14 left-3/4 z-[-1]">
        <Image
          src={SilverCan}
          alt="Silver Can"
          class="w-40 h-40 lg:w-48 lg:h-48 animate-float"
          style="animation-delay: 1.4s;"
        />
      </div>
      <div class="absolute inset-0 gap-10 -top-16 left-2/4 z-[-1]">
        <Image
          src={OrangeCup}
          alt="Orange Cup"
          class="w-40 h-40 lg:w-48 lg:h-48 animate-float"
          style="animation-delay: 2.3s;"
        />
      </div>
    </div>

    <!-- Middle Wave Layer with Floating Plastic Images (Visual Middle Layer) -->
    <div
      class="absolute inset-x-0 bottom-0 md:bottom-6 z-20 -mt-20 overflow-hidden md:overflow-visible"
    >
      <!-- Middle z-index -->
      <!-- Wave Image -->
      <Image
        src={Wave2}
        alt="Ocean Wave"
        class="w-full object-cover animate-float"
        style="animation-delay: 0s;"
      />
      <!-- Plastic Images (Under the Wave) -->
      <div class="absolute inset-0 gap-10 -top-5 md:top-5 left-16 z-[-1]">
        <Image
          src={SilverCan}
          alt="Silver Can"
          class="w-40 h-40 lg:w-48 lg:h-48 animate-float"
          style="animation-delay: 0.3s;"
        />
      </div>
      <div
        class="absolute inset-0 gap-10 -top-2 md:top-10 lg:top-24 left-1/3 z-[-1]"
      >
        <Image
          src={GreenPlasticBag}
          alt="Green Plastic"
          class="w-40 h-40 lg:w-60 animate-float"
          style="animation-delay: 0.9s;"
        />
      </div>
      <div class="absolute inset-0 gap-10 -top-2 md:top-16 left-2/3 z-[-1]">
        <Image
          src={RedPlasticBag}
          alt="Red Plastic Bag"
          class="w-40 h-40 lg:w-60 lg:h-60 -mt-6 animate-float"
          style="animation-delay: 1.7s;"
        />
      </div>
    </div>

    <!-- Top Wave Layer with Floating Plastic Images (Visual Bottom Layer) -->
    <div class="absolute inset-x-0 bottom-0 z-30 -mt-20 overflow-hidden">
      <!-- Highest z-index to appear visually at the bottom -->
      <!-- Wave Image -->
      <Image src={Wave1} alt="Ocean Wave" class="w-full object-cover" />
      <!-- Plastic Images (Under the Wave) -->
      <div class="absolute inset-0 gap-10 top-11 md:top-32 lg:top-40 z-[-1]">
        <Image
          src={OrangeCup}
          alt="Orange Cup"
          class="w-40 h-40 lg:w-48 lg:h-48 -mt-10 animate-float"
          style="animation-delay: 0.1s;"
        />
      </div>
      <div
        class="absolute inset-0 gap-10 top-11 md:top-32 lg:top-36 left-1/4 z-[-1]"
      >
        <Image
          src={RedPlasticBag}
          alt="Red Plastic Bag"
          class="w-40 h-40 lg:w-48 lg:h-48 animate-float"
          style="animation-delay: 1.9s;"
        />
      </div>
      <div
        class="absolute inset-0 gap-10 top-11 md:top-32 lg:top-40 left-3/4 z-[-1]"
      >
        <Image
          src={BlueBottle}
          alt="Blue Plastic Bottle"
          class="w-40 h-40 lg:w-48 lg:h-48 animate-float"
          style="animation-delay: 2.6s;"
        />
      </div>
      <!-- <div class="absolute inset-0 flex justify-center gap-10 -mt-10 z-[-1]">
   
                    <img src="/src/assets/images/green_plastic_bag.webp" alt="Green Plastic Bag" class="w-40 h-40 lg:w-48 lg:h-48 animate-float" style="animation-delay: 1.1s;" />
                    <img src="/src/assets/images/red_plastic_bag.webp" alt="Red Plastic Bag" class="w-40 h-40 lg:w-48 lg:h-48 animate-float" style="animation-delay: 1.9s;" />
                    <img src="/src/assets/images/blue_plastic_bottle.webp" alt="Blue Plastic Bottle" class="w-40 h-40 lg:w-48 lg:h-48 animate-float" style="animation-delay: 2.6s;" />
                </div> -->
    </div>
  </div>
</section>
